<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>CodeFellows</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">codeFellowship </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="http://localhost:8080/login">Log in</a></li>
            <li><a href="http://localhost:8080/signup">Sign Up</a></li>
            <li><a href="http://localhost:8080/profile/{id}" >Profile</a></li>
        </ul>
    </div>
</nav>

<h1>Welcome to codeFellowship web app, create your profile NOW and post what whatever you want!</h1>
</body>
</html>