<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
    <style>
        .nav-link{
        color:white;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-danger">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Code Fellowship </a>
        </div>
        <ul class="navbar-nav mr-auto">
            <li  class="nav-item active"><a style="color:white" class="nav-link" href="/">Home</a></li>
            <!--            <li class="nav-item active"><a class="nav-link" href="http://localhost:8080/profile/{id}" >Profile</a></li>-->
            <li  class="nav-item active"><a class="nav-link" style="color:white" href="http://localhost:8080/profile/{id}" sec:authorize="isAuthenticated()">Profile</a></li>
            <li class="nav-item active"><a class="nav-link" style="color:white" href="/ownprofile" sec:authorize="isAuthenticated()" sec:authentication="name"></a></li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-light my-2 my-sm-0"> <a class="nav-link" href="/perform_logout"> Log out</a></button>
        </form>
    </div>
</nav>
<br>
<br>

<div class="card" style="width: 22rem;" >
    <img class="card-img-top" src="https://icon-library.com/images/user-icon-image/user-icon-image-22.jpg" alt="Card image cap">
    <div class="card-body" >
        <h2 class="card-title">Current user:<span th:text="${pro.username}"></span></h2>
        <p class="card-text">First name: <span th:text="${pro.firstname}"></span></span></p>
        <p class="card-text">Last name: <span th:text="${pro.lastname}"></span></span></p>
        <p class="card-text">Date Of Birth: <span th:text="${pro.dateOfBirth}"></span></p>
        <p class="card-text">Bio: <span th:text="${pro.bio}"></span></p>
        <br>
    </div>
</div>


<!--<div class="postForm">-->
<!--    <form action="#" th:action="'/newpost/'+${pro.id}" method="post" >-->
<!--        <h1>Add a New Post: </h1>-->

<!--        <div class="form-outline mb-4">-->
<!--            <textarea name="body"  id="body"></textarea>-->
<!--        </div>-->
<!--        <input type="submit" value="Submit" />-->
<!--    </form>-->
<!--</div>-->

<!--<div class="postsClass">-->
<!--    <h1 style="margin-bottom: 15px">Your Old Posts: </h1>-->
<!--    <div th:each="post : ${pro.posts}" >-->
<!--        <p th:text="${post.createAt}"></p>-->
<!--        <p th:text="${post.body}"></p>-->
<!--    </div>-->
<!--</div>-->

<div class="postForm">
    <form th:action="@{/newpost}" method="post" >
        <h1>Add a New Post: </h1>

        <div class="form-outline mb-4">
            <textarea name="body" class="form-control" id="form6Example7" rows="4" style=" border: 1px solid red!important; margin-left:10px; width:800px"></textarea>
        </div>

        <input class="btn btn-danger" type="submit" value="Add" style="margin-left:10px" />
    </form>
</div>

<br>
<br>

<div th:each="post : ${posts}"  class="card text-white bg-danger  mb-3" style="max-width: 40rem;margin-left:10px">
    <div class="card-header" style="max-width: 50rem; font-size:20px">Post</div>
    <div class="card-body" >
        <p style="padding:50px; margin-top:20px" class="card-text" th:text="${post.getBody()}"></p>
        <p style="padding:50px; margin-top:20px" class="card-text" th:text="${post.getCreatedAt()}"></p>
    </div>
</div>


<body/>
<html/>